/.idea
/node_modules
/www/css/style.css
/www/js/functions.js
/www/js/functions-min.js
/www/index.html
/.sass-cache
/www/build/js
/www/build/views
/www/build/components
/www/build/css
/www/build/index.html
